@media only screen and (min-width:601px) {
    .flex-container {
        display: flex;
    }
    .flex-container div {
        margin: 5px;
    }
}

@media only screen and (max-width:600px) {
    .flex-container {
        display: block;
    }
    .flex-container div {
        margin: 5px 0;
    }
}

.flex-container div {
   width: 100%;
   background: #ddd;
   text-align: center;
   
}

body {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #eee;
}

h1 {
    padding-left: 12px;
}

input, textarea {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 30px;
    border: 2px #ccc solid;
    font-weight: bold;
    padding-left: 5px;
}

textarea {
height: 80px;
}

select {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    height: 30px;
    border: 2px #ccc solid;
    font-weight: bold;
    padding-left: 5px;
}


fieldset {
    width: 500px;
    background: #fff;
}

legend {
    border: 1px solid #000;
    padding: 5px 10px 5px 10px;
    background: #fff;
    font-weight: bold;
}

#enviar {
    width: 100%;
    cursor: pointer;
}

#enviar:hover {
    background: #ddd;
}

.tabela {
    border: 1px solid #000;
}

.marca_linha:hover {
    background: #ddd;
}

a {
    text-decoration: none;
}

.menu li {
    float: left;
    list-style: none;
}

.menu a {
    background: #ddd;
    padding: 10px 20px;
    color: #000;
}

.menu a:hover {
    background: #ccc;
}

.limpa {
    clear: both;
    height: 15px;
}

.texto-video {
  font-size: 16px ; 
  padding: 5px;  
}